.navbar {
    background-color: #351800;
}
.jumbotron {
    background-color: #3518004b;
    margin-bottom: 3rem;
}
.rounded {
    padding: 15px 0;
}
h1 {
    color: #351800;
}
.product {
    padding: 0 4rem;
}
.product > img {
    margin-bottom: 2rem;
}
h2 {
    margin-bottom: 1rem;
}